<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-*.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<filter> 
        <filter-name>SpringCharacterEncodingFilter</filter-name> 
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> 
        <init-param> 
            <param-name>encoding</param-name> 
            <param-value>UTF-8</param-value> 
        </init-param> 
    </filter>
    <filter-mapping> 
        <filter-name>SpringCharacterEncodingFilter</filter-name> 
        <url-pattern>*</url-pattern> 
    </filter-mapping>
	<!-- 过滤器 -->
	  <filter>
	     <filter-name>XssSqlFilter</filter-name>
	     <filter-class>com.dream.filter.XssFilter</filter-class>
  	  </filter>
	  <filter-mapping>
	     <filter-name>XssSqlFilter</filter-name>
	     <url-pattern>/*</url-pattern>
	     <dispatcher>REQUEST</dispatcher>
	  </filter-mapping>
	  
	<listener>
    		<listener-class>com.util.SessionListener</listener-class>
	</listener>
	<error-page>
	    <error-code>403</error-code>
	    <location>/jsp/error/error_403.jsp</location>
	</error-page>
	<error-page>
	    <error-code>404</error-code>
	    <location>/jsp/error/error_404.jsp</location>
	</error-page>
	<error-page>
	    <error-code>405</error-code>
	    <location>/jsp/error/error_405.jsp</location>
	</error-page>
	<!-- <error-page>
	    <error-code>500</error-code>
	    <location>/jsp/error/error_500.jsp</location>
	</error-page> -->
	<!-- 强制使用https链接 -->
	<!-- <security-constraint>
		<web-resource-collection>
			<web-resource-name>SSL</web-resource-name>
			<url-pattern>/</url-pattern>
			<url-pattern>/guess_ups_downs/*</url-pattern>
		</web-resource-collection>

		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint> -->
	<!-- 集群配置+session共享 -->
	<distributable/>
</web-app>